header {
    background-color: $secondary-color-opacity;
    height: 75px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    nav {
        text-align: right;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            li {
                cursor: pointer;
                display: inline-flex;
                height: 70px;
                vertical-align: middle;
                margin: 0 20px;
                line-height: 70px;
                font-weight: bold;
                color: $writing-color;
                a{
                    color: $writing-color;
                    &:visited, &:hover{
                        text-decoration: none;
                        color: $writing-color;
                    }
                }

                img {
                    width: 15px;
                    height: 15px;
                    margin-top: 27.5px;
                }
            }

            &:first-of-type {
                margin-right: 100px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        nav {
            ul{
                &:nth-of-type(1) {
                    display: none;
                }
                &:nth-of-type(2) {
                    margin-right: 20px;
                }
                &:nth-of-type(3) {
                    margin-left: 20px;
                }
                li{
                    margin: 0 10px;
                }
            }
            text-align: center;
        }
    }
    @media screen and (min-width: 768px) {
        nav {
            ul:nth-of-type(2) {
                display: none;
            }
        }

    }

}