//header{
//    -webkit-touch-callout: none;
//    -webkit-user-select: none;
//    -khtml-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    user-select: none;
//    nav{
//        text-align: center;
////        ul{
////            list-style-type: none;
////            padding: 0;
////            li{
//                width: 150px;
//                height: 150px;
//                cursor: pointer;
//                display: inline-block;
//
//                img{
//                    width: 100px;
//                    height: 100px;
//                    margin-top: 25px;
//
//                }
//                &.active{
//                    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
//                    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
//                    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
//                    &:first-child{
//                        -webkit-box-shadow: 0 6px 10px $linkedin-color-rgb;
//                        -moz-box-shadow: 0 6px 10px $linkedin-color-rgb;
//                        box-shadow: 0 6px 10px $linkedin-color-rgb;
//                    }
//                    &:nth-of-type(2){
//                        -webkit-box-shadow: 0 6px 10px $secondary-color-rgb;
//                        -moz-box-shadow: 0 6px 10px $secondary-color-rgb;
//                        box-shadow: 0 6px 10px $secondary-color-rgb;
//                    }
//                    &:nth-of-type(3){
//                        -webkit-box-shadow: 0 6px 10px $twitch-color-rgb;
//                        -moz-box-shadow: 0 6px 10px $twitch-color-rgb;
//                        box-shadow: 0 6px 10px $twitch-color-rgb;
//                    }
//                }
//                &:first-child{
//                    img{
//                        border-radius: 100%;
//                    }
//                }
//                &:nth-of-type(2){
//                    margin-left: 25px;
//                    margin-right: 25px;
//                }
//            }
//
//        }
//    }
//}



header{
    background-color: $secondary-color-opacity;
    height: 50px;
    nav{
        text-align: right;
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            li{
                cursor: pointer;
                display: inline-flex;
                height: 50px;
                vertical-align: middle;
                margin: 0 20px;
                line-height: 50px;
                font-weight: bold;
                img{
                    width: 15px;
                    height: 15px;
                    margin-top: 17.5px;
                }
            }
            &:first-of-type{
                margin-right: 100px;
            }
        }
    }

}