<header>
    <nav>
        <img src="assets/image/logo.jpg" alt="logo-book-kevin-guillier" id="logo">
        <ul>
            <li>
                <a href="#cv">
                    <img src="assets/image/cv-icon.svg" alt="logo-cv-kevin-guillier">
                </a>
            </li>
            <li>
                <a href="#streaming">
                    <img src="assets/image/twitch-icon.svg" alt="logo-twich-yogosha">
                </a>
            </li>
        </ul>
    </nav>
</header>
