<header>
    <nav>
        <ul>
            <li class="active" data-article="bio">
                <img src="assets/image/photo.jpg" alt="photo-kevin-guillier">
            </li>
            <li data-article="cv">
                <img src="assets/image/cv-icon.svg" alt="logo-cv-kevin-guillier">
            </li>
            <li data-article="twitch">
                <img src="assets/image/twitch-icon.svg" alt="logo-twich-yogosha">
            </li>
        </ul>
    </nav>
</header>
