@import "variable";

@import "block/header";

body{
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    h1{
        text-align: center;
    }
    .ta-center{
        text-align: center;
    }
}