@import "variable";

@import "block/header";

body{
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    h1{
        text-align: center;
    }
    .ta-center{
        text-align: center;
    }
    .c-green{
        color: #3c763d;
    }
    p{
        font-weight: bold;
    }
    .c-blue{
        color: $linkedin-color;
    }
    .c-yellow{
        color: $secondary-color;
    }
}