$primary-color: #181b1deb;
$secondary-color: #fbbc04;
$tertiary-color: #4a525b;
$linkedin-color:  #0e76a8;
$twitch-color:  #6441a5;

$secondary-color-rgb: rgba(251, 188, 4, 0.5);
$linkedin-color-rgb: rgba(14, 118, 168, 0.5);
$twitch-color-rgb: rgba(100, 65, 165, 0.5);