$primary-color: #121212;
$secondary-color: #fbbc04;
$tertiary-color: #4a525b;
$linkedin-color:  #0e76a8;
$twitch-color:  #6441a5;
$white: #ffffff;

//$secondary-color-rgb: rgba(251, 188, 4, 0.5);
$secondary-color-rgb: rgba(255, 153, 0, 0.75);
$linkedin-color-rgb: rgba(14, 118, 168, 0.5);
$twitch-color-rgb: rgba(100, 65, 165, 0.5);

$secondary-color-opacity: #fbbc0480;