body{
    section{
        padding: 25px;
        article{
            &:not(.active){
                display: none;
            }
            &[data-article="twitch"]{
                iframe{
                    width: 100%;
                    height: auto;
                    min-height: 480px;
                }
            }
            h2{
                text-align: center;
            }
        }
    }
}