body{

    section{
        padding: 25px;
        article{
            -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
            -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
            box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
            padding: 25px;
            &:not(.active){
                display: none;
            }
            &[data-article="twitch"]{
                iframe{
                    width: 100%;
                    height: auto;
                    min-height: 480px;
                }
            }
            h2{
                text-align: center;
                margin-top: 0;
            }
            .cv-image{
                width: 100%;
                height: auto;
            }
            .gauge{
                width: 150px;
                height: 150px;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
}