@import "../variable";

section{
    padding-top: 20px;
    > div {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 70px - 20px);
        #streaming{
            > p:first-of-type{
                margin-top: 0;
            }
            iframe{
                margin-top: 20px;
                width: 100%;
            }
        }
    }

}