<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="Retrouvez mon site CV. Technologies utilisées : TWIG/SCSS, PHP/mySQL, JavaScript/Jquery" />

        <link rel="icon" type="image/png" href="assets/images/book_fav.png" />
        <link rel="stylesheet" href="assets/scss/general.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

        {% block head %}{% endblock %}

        <title>{% block title %}Book Kevin Guillier{% endblock %}</title>
    </head>
    <body>
        {% include 'block/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'block/footer.html.twig' %}

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/block/header.js"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>