{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="assets/scss/page/index.css">
{% endblock %}

{% block body %}
    <section>
        <article data-article="bio" class="active">
            <h2>Qui suis-je ?</h2>

        </article>
        <article data-article="cv">
            <h2>Curriculum Vitae</h2>
        </article>
        <article data-article="twitch">
            <h2>Streaming</h2>
        </article>
    </section>


{% endblock %}