{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="assets/scss/page/index.css">
{% endblock %}

{% block body %}
    <section>
        <article data-article="bio" class="active">
            <h2>Qui suis-je ?</h2>
            <div class="row">
                <p>J'ai commencé ma reconversion professionnelle en 2016 afin de devenir initialement développeur web.</p>
                <p>En prenant de plus en plus goût à ce métier, j'ai continué de me former.</p>
                <p>En mai 2019, je suis devenu concepteur/développeur web.</p>
                <p>Désormais je suis en formation pour devenir chef de projet en conception de système informatique.</p>
                <p>Dans le but de me promouvoir, j'ai créé ce site.</p>
            </div>
        </article>
        <article data-article="cv">
            <h2>Curriculum Vitae</h2>
            <div>

            </div>
        </article>
        <article data-article="twitch">
            <h2>Streaming</h2>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <iframe
                        src="https://player.twitch.tv/?channel=yogosha"
                        height="360"
                        width="480"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="1">
                    </iframe>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p>J'ai une chaine Twitch.</p>
                    <p>J'y joue, et j'y code avec mon émission "Just coding".</p>
                    <p>Dans cette émission, je code selon une thématique ou je découvre de nouvelles technologies/techniques.</p>
                </div>

            </div>
        </article>
    </section>


{% endblock %}