{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="assets/scss/page/index.css">
{% endblock %}

{% block body %}
    <section>
        <article>
            <h2>Qui suis-je ?</h2>

        </article>
    </section>


{% endblock %}